@import 'vars';

@mixin espacamento($bkg, $margin, $padding, $tmEscuro: true) {
    margin: $margin;
    padding: $padding;
    @if($tmEscuro){
        background: #444;
        color: #fff;
    }@else{
        background: $bkg;
    }
} 

@mixin fonte($familia, $cor, $alinhamento){
    font-family: $familia;
    color: $cor;
    text-align: $alinhamento;
}